.selectors {
    padding-bottom: 10px;
}
.base {
    background: white;
}
.left {
    background: #fce3e3;
}
.right {
    background: #e0e2fc;
}
.combo-default > .damage, .combo-default > .moves > * {
    opacity: .50;
}
.full-name {
    white-space: nowrap;
}
.summary-col {
    padding-bottom: 100%;
    margin-bottom: -100%;
}
.summary-row {
    overflow: hidden;
}
.combo-points {
    line-height: 0.75;
}
.combo-details {
    display: inline-table;
    border-spacing: 3px 0px;
    border-collapse: separate;
    vertical-align: text-bottom;
}

td > .combo-details {
    vertical-align: middle;
}

.combo-type, .combo-kd, .combo-details > .combo-points {
    display: table-cell;
    vertical-align: middle;
}
.combo-type {
    background: white;
    padding: 2px;
    border: black;
    border-style: solid;
    border-width: 1px;
    line-height: 1.1;
    font-size: 0.9em;
}
.sort-icon {
    padding-left: 2px;
}

.select-left, .select-right {
    width: 45px;
    height: 99px;
    background-repeat: no-repeat;
    background-size: 200%;
    border: none;
}

.select-left:hover, .select-right:hover {
    opacity: 0.8;
}

.select-left.selected:hover, .select-right.selected:hover {
    background-color: #CCCCCC;
    background-blend-mode: multiply;
}

.select-left:hover, .select-left.selected {
    background-position: 0px 100%;
}

.select-left, .select-left.selected:hover {
    background-position: 0px 0px;
}

.select-right, .select-right.selected:hover {
    background-position: 100% 0;
}

.select-right:hover, .select-right.selected {
    background-position: 100% 100%;
}

.image-select {
    white-space: nowrap;
    display: inline-block;
}

.shadow-characters {
    float: right;
}

.missing-character {
    width: 90px;
    height: 99px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 4em;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: lightgray;
    color: black;
}